<!DOCTYPE html>
<html lang="en">

<head>

	<title>User Verification</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='login/images/icons/favicon.ico') }}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/select2/select2.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}">
	<!--===============================================================================================-->
</head>

<body>

	<div style="background:url({{ url_for('static', filename='img/back.png') }});background-size: 100%;position:fixed; height:100vh; width:100vw"></div>
	<script>
		{{ resp | safe }}
		if("{{ uid | safe }}".length == 0)
		{
			document.getElementById('uname').removeAttribute("value");
		}
	</script>
	<div id="limiter" style="min-height: 130vh;">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form method="POST" action="/registerVerify" class="login100-form validate-form">
					<span class="login100-form-title p-b-55">
						OTP Verification
					</span>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" id="uname" type="text" name="uname" placeholder="Username (not email)" value="{{ uid | safe }}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
						<input class="input100" type="password" name="otp" placeholder="One-Time-Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<div class="contact100-form-checkbox m-l-4">
						<label class="label-checkbox100" for="ckb1">
							Insert the OTP sent to your email (Check Spam!)
						</label>
					</div>

					<div class="container-login100-form-btn p-t-25">

						<button class="login100-form-btn">

							Verify
						</button>

					</div>

					<div class="text-center w-full p-t-115" style="padding-top:40px">
						<span class="txt1">
							Not Recieved OTP?
						</span>

						<a class="txt1 bo1 hov1" href="/resendOTP">
							Resend OTP
						</a>
					</div>
					
					<div class="text-center w-full p-t-115" style="padding-top:10px">
						<span class="txt1">
							Not a member?
						</span>

						<a class="txt1 bo1 hov1" href="/register">
							Register now
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/vendor/select2/select2.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/js/main.js') }}"></script>

</body>

</html>