<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='login/images/icons/favicon.ico') }}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/select2/select2.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/utils.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}">
	<!--===============================================================================================-->
</head>

<body>

	<div style="background:url({{ url_for('static', filename='img/back.png') }});background-size: 100%;position:fixed; height:100vh; width:100vw"></div>
	<script>
			{{ resp | safe }}
	</script>
	<div id="limiter" style="min-height: 130vh;">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form method="POST" action="/register" class="login100-form validate-form">
					<span class="login100-form-title p-b-55">
						REGISTER
					</span>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="uname" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="name" placeholder="Full Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="email" placeholder="Email id">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
						<input class="input100" type="password" name="cpass" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					

					<div class="container-login100-form-btn p-t-25">

						<button class="login100-form-btn">

							REGISTER
						</button>

					</div>
					<br>
					<br>
					<div class="text-center w-full p-t-115" style="padding-top:40px">
						<span class="txt1">
							Already Registered?
						</span>

						<a class="txt1 bo1 hov1" href="/login">
							Login
						</a>
					</div>


					<div class="text-center w-full p-t-115" style="padding-top:10px">
						<span class="txt1">
							Not Recieved OTP?
						</span>

						<a class="txt1 bo1 hov1" href="/resendOTP">
							Resend OTP
						</a>
					</div>

					<div class="text-center w-full p-t-115" style="padding-top:10px">
						<span class="txt1">
							Got OTP?
						</span>

						<a class="txt1 bo1 hov1" href="/registerVerify">
							Verify OTP
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/vendor/select2/select2.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='login/js/main.js') }}"></script>

</body>

</html>