<!DOCTYPE html>
<html>

<head>
  <title>Phoenix Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash2.css') }}">

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>

  <div style="background:url({{ url_for('static', filename='img/back.png') }});z-index:-1;background-size:cover;background-position:center;height:100vh;width:100vw;position:fixed"></div>
  <div id="grad1">

    <div class="header">
      <a href="#default" class="logo">TAG PHOENIX</a>
      <div class="redeem">
          <form method="POST" action="/redeem">Redeem: <input name="flag" type="text" placeholder="Flag"><input
                  type="submit" style="visibility: hidden;width:0px" /></form>
      </div>
      <div class="header-right">
        <a href="/home">DASHBOARD</a>
        <a href="/leaderboard">LEADERBOARD</a>
        <a href="/terms">TERMS AND CONDITIONS</a><!--onclick="return openForm();"-->
        <a href="/question">CHALLENGES</a>
        <a href="/logout">LOGOUT</a>

      </div>
    </div>
    <br>
    <div class="container-main">
      <div class="container">

      </div>
      <div class="d-flex justify-content-center">
        <div class="container-login100">
          <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">

            <span class="login100-form-title p-b-55">
              HELLO! {{profile_name | safe}}
            </span>
            <div class="form-popup" id="myForm">
              <img class="image" src="{{ url_for('static', filename='img/tc1.png') }}">
              <button type="submit" class="btn btn1 nextpage" onclick="Next()">Next</button>
              <button type="submit" class="btn btn1 prev" onclick="Previous()">Previous</button><br>
              <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
            </div>

            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td>Score</td>
                  <td>-</td>
                  <td>{{score | safe}}</td>
                </tr>
                <tr>
                  <td>Rank</td>
                  <td>-</td>
                  <td>{{rank | safe}}</td>
                </tr>
                <tr>
                  <td>Flags</td>
                  <td>-</td>
                  <td>{{flagsCount | safe}}</td>
                </tr>
                <tr>
                  <td>Hints used</td>
                  <td>-</td>
                  <td>{{hints | safe}}</td>
                </tr>
                <tr>
                  <td>Current Quest</td>
                  <td>-</td>
                  <td>{{currQues | safe}}</td>
                </tr>

              </table>
            </div>

            <form action="/question" method="POST" id="goto-flag">
              <span class="txt1">
                YOUR FLAGS
              </span>

              <select name="flag" id="redeemed-flags">
              </select>
              <button class="btn btn-form">Go</button>
            </form>
						<script>
							loadUserFlags('{{ flags | safe }}');
						</script>
            <br>
          </div>
        </div><br>
        <div id="questResume" class="container text-center styled-button">
          <a href="/question" id="resume">Resume your quest!</a>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript">
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
  function Next() {
    $(".image").attr("src", "{{ url_for('static', filename='dash/img/tc2.png') }}");
    $(".nextpage").css("display", "none");
    $(".prev").css("display", "block");

  }
  function Previous() {
    $(".image").attr("src", "{{ url_for('static', filename='dash/img/tc1.png') }}");
    $(".nextpage").css("display", "block");
    $(".prev").css("display", "none");
  }
</script>

</html>